{% extends "_base.html" %}

{% block title %}{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header d-flex flex-column justify-content-between flex-sm-row align-items-center">
            <div class="mr-3">
                <h1 class="h2 text-dark font-weight-bold m-0">Destalhes do Funcionário</h1>
            </div>

             <div>
                <a class="btn btn-info my-2" href="{% url 'funcionario:editar_funcionario' funcionario.id %}">
                    <i class="fas fa-pen fa-xs"></i>
                    Editar
                </a>
                <button class="btn btn-danger my-2" data-toggle="modal" data-target="#modalConfirmacaoExclusao" data-url='{% url 'funcionario:listar' %}'>
                    <i class="fas fa-trash fa-xs"></i>
                    Excluir
                </button>
            </div>
            
                
        </div>
        <div class="card-body">

              <!-- Foto do funcionário -->
        <div class="alert alert-primary mt-3 d-flex align-items-center">
            {% if funcionario.foto %}
                <img src="{{ funcionario.foto.url }}" alt="Foto de {{ funcionario.nome }}" 
                    class="rounded-circle border me-3" width="50" height="50" />
            {% endif %}
            <div>
                <h2 class="font-weight-bold mb-0">{{ funcionario.nome }}</h2>
                <p class="mb-0">{{ funcionario.funcao }}</p>
            </div>
        </div>


           
          <div class="row">
                <div class="col-md-4">
                    <p class="font-weight-bold text-dark">Nome: <span class="font-weight-normal">{{ funcionario.nome }}</span></p>
                </div>
                <div class="col-md-4">
                    <p class="font-weight-bold text-dark">Função: <span class="font-weight-normal">{{ funcionario.funcao }}</span></p>
                </div>
                <div class="col-md-4">
                    <p class="font-weight-bold text-dark">Salário: <span class="font-weight-normal text-success">R$ {{ funcionario.salario }}</span></p>
                </div>
                </div>

                <div class="row">
                <div class="col-md-4">
                    <p class="font-weight-bold text-dark">Data de admissão: <span class="font-weight-normal">{{ funcionario.data_admissao }}</span></p>
                </div>
                <div class="col-md-4">
                    <p class="font-weight-bold text-dark">Banco: <span class="font-weight-normal">{{ funcionario.banco }}</span></p>
                </div>
                <div class="col-md-4">
                    <p class="font-weight-bold text-dark">Telefone: <span class="font-weight-normal">{{ funcionario.contato }}</span></p>
                </div>
                </div>

                <div class="row">
                <div class="col-md-4">
                    <p class="font-weight-bold text-dark">Chave Pix: <span class="font-weight-normal">{{ funcionario.chave_pix }}</span></p>
                </div>
                <div class="col-md-4">
                    <p class="font-weight-bold text-dark">CPF: <span class="font-weight-normal">{{ funcionario.cpf }}</span></p>
                </div>
                <div class="col-md-4">
                    <p class="font-weight-bold text-dark">Frequência de Pagamento: <span class="font-weight-normal">{{ funcionario.frequencia_pagamento }}</span></p>
                </div>
                </div>

                <div class="row">
                <div class="col-md-4">
                    <p class="font-weight-bold text-dark">Status: <span class="font-weight-normal">{{ funcionario.status }}</span></p>
                </div>
                </div>

        </div>
    </div>
{% endblock %}