{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block title %}Funcionário{% endblock %}

{% block content %}
  

    
  <div class="card-body border ">
    <h3 class="h4 font-weight-bold text-dark alert alert-primary">Informações Pessoais</h3>
    
    <form action="" method="post" >
      {% csrf_token %}

      
    
      <div class="row">
        <div class="col-md-6">
          {{ form.nome|as_crispy_field }}
        </div>
        <div class="col-md-6">
          {{ form.funcao|as_crispy_field }}
        </div>
        <div class="col-md-6">
          {{ form.salario|as_crispy_field }}
        </div>
        <div class="col-md-6">
          {{ form.data_admissao|as_crispy_field }}
        </div>
        <div class="col-md-6">
          {{ form.contato|as_crispy_field }}
        </div>
        <div class="col-md-6">
          {{ form.cpf|as_crispy_field }}
        </div>
      </div>


      <h3 class="h4 font-weight-bold text-dark alert alert-primary ">Informações de Pagamento</h3>
      
    
      <div class="row">
        
            <div class="col-md-6 ">
                {{ form.chave_pix|as_crispy_field }}
            </div>
            
            <div class="col-md-6">
                {{ form.banco|as_crispy_field }}
            </div>
            
            <div class="col-md-6">
                {{ form.frequencia_pagamento|as_crispy_field }}
            </div>

            <div class="col-md-6">
                {{ form.status|as_crispy_field }}
            </div>


        </div>

    <div class="text-right">
      <a href="{% url 'funcionario:listar_funcionarios' %}" class="btn btn-secondary mr-1 mb-1">
        Cancelar
      </a>
      <button type="submit" class="mb-1 btn ">
          {% if modo == 'editar' %}
              Salvar
          {% else %}
              Adicionar
          {% endif %}
      </button>
    </div>

  </form>


  </div>

  {% load static %}

  <script src="{% static 'js/preview_foto.js' %}"></script>

{% endblock %}
