{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  {% if modo == 'editar' %}
    <span class="badge bg-warning text-dark mb-2 font-weight-bold ">Modo de Edição</span>
  {% else %}
    <h2 class="h3 font-weight-bold text-dark">Cadastro de Funcionário</h2>
  {% endif %}


    <!--trocar de cor quando estiver editando-->
<div class="card-body border {% if modo == 'editar' %} bg-warning-sutle{% endif %}">
<div class="card-body border">




  <h3 class="h4 font-weight-bold text-dark alert {% if modo == 'editar' %}alert-warning{% else %}alert-primary{% endif %}">Informações Pessoais</h3>
  
  <form action="" method="post">
    {% csrf_token %}
    <div class="row">
     
      <div class="col-md-6">
        {{ form.nome|as_crispy_field }}
      </div>
     
      <div class="col-md-6">
        {{ form.funcao|as_crispy_field }}
      </div>
      
      <div class="col-md-6">
        {{ form.salario|as_crispy_field }}
      </div>
      
      <div class="col-md-6">
        {{ form.data_admissao|as_crispy_field }}
      </div>

      <div class="col-md-6">
        {{ form.contato|as_crispy_field }}
      </div>

       <div class="col-md-6">
        {{ form.cpf|as_crispy_field }}
      </div>



    </div>

  <h3 class="h4 font-weight-bold text-dark alert {% if modo == 'editar' %}alert-warning{% else %}alert-primary{% endif %}">Informações de Pagamento</h3>
   
 
  <div class="row">
     
        <div class="col-md-6 ">
            {{ form.chave_pix|as_crispy_field }}
        </div>
        
        <div class="col-md-6">
            {{ form.banco|as_crispy_field }}
        </div>
        
        <div class="col-md-6">
            {{ form.frequencia_pagamento|as_crispy_field }}
        </div>

        <div class="col-md-6">
            {{ form.status|as_crispy_field }}
        </div>


    </div>
   

 
        
              
 
    <button type="submit" class="btn {% if modo == 'editar' %}btn-warning{% else %}btn-success{% endif %} my-1">
        {% if modo == 'editar' %}
            <i class="fas fa-edit fa-xs"></i> Salvar
        {% else %}
            <i class="fas fa-plus fa-xs"></i> Adicionar
        {% endif %}
    </button>

</form>


</div>
</div>
{% endblock %}
