{% extends "_base.html" %}

{% block title %} Materiais {% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header d-flex flex-column justify-content-between flex-sm-row align-items-center">
            <div class="mr-3">
                <h1 class="h2 text-dark font-weight-bold m-0">Materiais</h1>
                <p class="m-0">Controle de equipamentos de proteção individual</p>
            </div>
            <a class="btn btn-success my-2" href="{% url 'material:adicionar_material' %}">
                <i class="fas fa-plus fa-xs"></i>
                Novo
            </a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-hover" id="dataTable">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>CA</th>
                            <th>Dias de empréstimo</th>
                            <th>Quantidade</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for material in materiais %}
                            <tr>
                                <td>{{ material.nome }}</td>
                                <td>{{ material.certificado_aprovacao }}</td>
                                <td>{{ material.dias_de_emprestimo }}</td>
                                <td>{{ material.quantidade }}</td>
                                <td class="d-flex justify-content-center align-items-center gap-1">
                                    <a href="{% url 'material:detalhar_material' material.pk %}" class="btn btn-warning btn-sm mx-1" aria-label="Ver">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                    <a href="{% url 'material:editar_material' material.pk %}" class="btn btn-info btn-sm mx-1" aria-label="Editar">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <button class="btn btn-danger btn-sm mx-1" aria-label="Excluir" data-toggle="modal" data-target="#modalConfirmacaoExclusao" data-url='{% url 'material:excluir_material' material.pk %}'>
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}