{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid px-4">
    <div class="row">
        <div class="col">
            <div class="card mb-4">
                <h1 class="card-header">Usuário</h1>
                <div class="card-body">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                {{ form.first_name|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ form.last_name|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ form.email|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ form.username|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ form.is_active|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ form.is_staff|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ form.is_superuser|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ form.groups|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ form.user_permissions|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ form.date_joined|as_crispy_field }}
                            </div>
                        </div>
                        <input type="submit" value="Salvar" class="btn btn-success float-right">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}