{% extends "_base.html" %}

{% block title %}Produto{% endblock %}

{% block content %}
    <div class="card border-0">
        <div class="card-header d-flex flex-column justify-content-between flex-sm-row align-items-center">
                <h1 class="h2 text-dark font-weight-bold m-0">Produto</h1>
            <div>
                <a class="btn btn-info my-2" href="{% url 'editar_produto' produto.id %}">
                    <i class="fas fa-edit fa-xs"></i>
                    Editar
                </a>
                <button class="btn btn-danger my-2" data-toggle="modal" data-target="#modalConfirmacaoExclusao" data-url='{% url 'excluir_produto' produto.id %}'>
                    <i class="fas fa-trash fa-xs"></i>
                    Excluir
                </button>
            </div>
        </div>
        <div class="card-body border">
            <div>
                <h2 class="h4 font-weight-bold">{{ produto.nome }}</h2>
                
                <div class="row px-3 mt-3" style="gap: 1rem;">
                    <div class="col border-left-primary p-3 rounded shadow-sm border-start border-4 border-success text-dark d-flex justify-content-between align-items-center h5">
                        <span class="font-weight-bold mr-2">Preço unitário:</span> 
                        <span>{{ produto.preco_unitario }}</span>
                    </div>
                    <div class="col border-left-primary p-3 rounded shadow-sm border-start border-4 border-success text-dark d-flex justify-content-between align-items-center h5">
                            <span class="font-weight-bold mr-2">Largura:</span>
                            <span>{{ produto.largura|default:"-" }}</span>
                    </div>
                    <div class="col border-left-primary p-3 rounded shadow-sm border-start border-4 border-success text-dark d-flex justify-content-between align-items-center h5">
                            <span class="font-weight-bold mr-2">Altura:</span>
                            <span>{{ produto.altura|default:"-" }}</span>
                    </div>
                    <div class="col border-left-primary p-3 rounded shadow-sm border-start border-4 border-success text-dark d-flex justify-content-between align-items-center h5">
                            <span class="font-weight-bold mr-2">Comprimento:</span>
                            <span>{{ produto.comprimento|default:"-" }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-body">
            <h2 class="h3 font-weight-bold">Histórico de produção</h2>
            <div class="table-responsive">
                <table class="table" id="dataTable">
                    <thead>
                        <tr>
                            <td>Data</td>
                            <td>Quantidade</td>
                            <td class="w-25">Ações</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for producao in producoes %}
                            <tr>
                                <td>{{ producao.data|date:"d/m/Y" }}</td>
                                <td>{{ producao.quantidade_produzida }}</td>
                                <td class="d-flex justify-content-center align-items-center">
                                    <a href="{% url 'editar_producao' producao.id %}"
                                    class="btn btn-info btn-sm mx-1" aria-label="Editar">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <button class="btn btn-danger btn-sm mx-1" aria-label="Excluir" data-toggle="modal"
                                        data-target="#modalConfirmacaoExclusao"
                                        data-url="{% url 'excluir_producao' producao.id %}">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}