{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block title %}Produto{% endblock %}

{% block content %}
    {% if form.errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <i class="fas fa-exclamation-triangle"></i>
            Corrija os erros abaixo.
        </div>
    {%  endif %}
    <div class="card">
        <div class="card-header">
            <h1 class="h2 text-dark font-weight-bold m-0">Produto</h1>
        </div>
        <div class="card-body">
            <form action="" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        {{ form.nome | as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        {{ form.preco_unitario | as_crispy_field }}
                    </div>
                    <div class="col-md-4">
                        {{ form.altura | as_crispy_field }}
                    </div>
                    <div class="col-md-4">
                        {{ form.largura | as_crispy_field }}
                    </div>
                    <div class="col-md-4">
                        {{ form.comprimento | as_crispy_field }}
                    </div>
                </div>
                <input type="submit" value="Salvar" class="btn btn-success float-right mx-1">
                <a class="btn btn-secondary float-right mx-1" href="{% url 'listar_produtos' %}">Cancelar</a>
            </form>
        </div>
    </div>
{% endblock %}