{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block title %}Empréstimo de material{% endblock %}

{% block content %}
    {% if form.errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <i class="fas fa-exclamation-triangle"></i>
            Corrija os erros abaixo.
        </div>
    {%  endif %}
    <div class="card">
        <div class="card-header">
            <h1 class="h2 text-dark font-weight-bold m-0">Empréstimo de material</h1>
        </div>
        <div class="card-body">
            <form action="" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        {{ form.material | as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        {{ form.funcionario | as_crispy_field }}
                    </div>
                    <div class="col-md-4">
                        {{ form.data_emprestimo | as_crispy_field }}
                    </div>
                    <div class="col-md-4">
                        {{ form.data_devolucao | as_crispy_field }}
                    </div>
                    <div class="col-md-4">
                        {{ form.status | as_crispy_field }}
                    </div>
                </div>
                <input type="submit" value="Salvar" class="btn btn-success float-right mx-1">
                <a class="btn btn-secondary float-right mx-1" href="{% url 'listar_emprestimos' %}">Cancelar</a>
            </form>
        </div>
    </div>
{% endblock %}