{% load static %}
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        {% comment %} <div class="sidebar-brand-icon h1">
            K
        </div> {% endcomment %}
        <div class="sidebar-brand-text mx-3">Kéramos</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    {% comment %} <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li> {% endcomment %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'funcionario:listar_funcionarios' %}">
            <i class="fas fa-fw fa-clipboard-list"></i>
            <span>Funcionários</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'pagamento:listar_pagamentos' %}">
            <i class="fas fa-fw fa-receipt"></i>
            <span>Pagamentos</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'listar_produtos' %}">
            <i class="fas fa-fw fa-box"></i>
            <span>Produtos</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'listar_producoes' %}">
            <i class="fas fa-fw fa-industry"></i>
            <span>Produção</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'listar_materiais' %}">
            <i class="fas fa-fw fa-tools"></i>
            <span>Materiais</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'listar_emprestimos' %}">
            <i class="fas fa-fw fa-hand-holding"></i>
            <span>Empréstimos de materiais</span></a>
    </li>
</ul>